<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
</head>
<style>
    .bg-image {
        background-image: url('https://wallpaperaccess.com/full/800099.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<body class="bg-image">
<main>
    <nav class="navbar navbar-expand-lg navbar-background">
        <a class="nav-link text-white active h5" href="/">Home</a>
        <div class="collapse navbar-collapse d-flex justify-content-end bg-text">
            <ul class="navbar-nav row">
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active font-weight-bold"
                       href="/create"
                    >Upload Car</a
                    >
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active font-weight-bold" href="/all"
                    >All Cars</a
                    >
                </li>
            </ul>
        </div>
    </nav>
    <div class="container bg-text">
        <h1 class="text-center text-white">West Compass offers</h1>
        <hr style="width: 50%"/>
        <ul style="list-style-type: none">
        </ul>
    </div>
</main>
<script src="../resources/js/requester.js"></script>
<script>
    let ul = document.querySelector("main div.container ul");
    const carsJson = http.get("/api/cars").then(value => value.json());

    carsJson.then(cars => {
        cars.forEach(car => {
            let li = document.createElement('li');
            li.classList.add("d-flex");
            li.classList.add("justify-content-around");
            let div = document.createElement('div');
            div.classList.add("col-md-4");
            div.classList.add("d-flex");
            div.classList.add("flex-column");
            div.classList.add("text-center");
            div.classList.add("mb-3");
            div.classList.add("text-white");

            let h2Brand = document.createElement('h2');
            h2Brand.textContent = `Brand: ${car.brand}`;
            let h4Model = document.createElement('h4');
            h4Model.textContent = `Mode: ${car.model}`;
            let h4Year = document.createElement('h4');
            h4Year.textContent = `Year: ${car.year}`;
            let h4Engine = document.createElement('h4');
            h4Engine.textContent = `Engine: ${car.engine}`;
            div.appendChild(h2Brand);
            div.appendChild(h4Model);
            div.appendChild(h4Year);
            div.appendChild(h4Engine);
            li.appendChild(div);
            ul.appendChild(li);
        });
    });
</script>
<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
></script>
</body>
</html>
